.bg-img{
    background-image: url('../img/b-b-biodiv.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #FFFFFF;
}

.big-font{
    font-size: smaller;
}